
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Oswald|Raleway&display=swap');

body{
    background-color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#header{
    background-image: url("paper_background1.jpg");
    height: 150px;
    line-height:150px;
}

#header a:hover{
    color: white;
}

#header-title {
    display: block;
    float: left;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
}

#header-nav {
    display: block;
    float: right;
    margin-top:0;
    font-family: 'Cinzel';
    text-transform: uppercase;
    }

#header-nav li{
    display: inline;
    padding-left: 20px;
    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.post-container:nth-child(even){
    background-color:#f2f2f2
}

.post, .about{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.about {
    text-align:center;
}

.about-title{
    font-family: 'Oswald';
}

.post-author img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.post-author img, .about-author img{
    border-radius: 50%; 
}

.post-author span{
    margin-left: 16px;
}

.post-date{
    color: #9E9E9E;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.post-title{
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    font-size: 25px;
}

h1, h2, h3, h4{
    color:#333;
}

p{
    line-height: 1.5
}

.post-content:nth-child(2){
    background-color: red
}


#footer{
    background-image: url("paper_background1.jpg");
    padding: 50px 0;
}

#footer h4{
    color:black;
    text-transform: uppercase;
    letter-spacing:0.1em;
   
}

#footer p{
    color:black;
}

.column {
    min-width:300px;
    display: inline-block;
    vertical-align: top;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color:white;
}
